{% extends 'base.html' %}
{% import 'macros.html' as macro%}
{% import "bootstrap/wtf.html" as wtf %}

<style>
    @import url('https://fonts.googleapis.com/css?family=Niramit');
     h2{            display: block;
            font-family: 'Niramit', sans-serif;
            color: #360a70cc;
            font-size: 40px;
            font-weight: 1000;
            text-align: center;
          }
          ul {
            font-family: 'Srisakdi',  Georgia;
          }
          body{
            background-image: url('/static/css/photo/21028.jpg');
            background-size: cover;
          }
          .container{
            background-image: url('/static/css/tribal.jpg');
          }
  </style>

{% block content %}
<br><br><br>

<div class="col-md-8">
{% for blog in blogs %}

  <div class="panel">
    <div class="panel-body responsive">
      <div class="col-md-8">
        <div class="text-center">
    <h1>{{blog.title}}</h1>
    <h4>{{blog.posted.strftime('%Y-%m-%d')}}/ <a href="#">{{blog.category}}</a>/<a href="/blog/{{blog.id}}?like=1"<i class="fas fa-heart"></i>{{blog.like}}</a></h4>
  </div>
    <br>

    <p>{{blog.blog|truncate(350)}}</p>
    <div class="text-center">
    <a href="/blog/{{blog.id}}" >CONTINUE READING...</a>
  </div>
  </div>
  <div id="img" class="col-md-4">
    <img src="{{url_for('static',filename='css/halloween.jpg')}}" class="img-rounded img-responsive">
  </div>
</div>
  </div>
{% endfor %}
</div>


<div class="col-md-4 ">
<div class="panel" id="subcribeform">
  <div class="panel-body">
    <h4>Subscribe to our Blog</h4>
  {{wtf.quick_form(subscriber_form)}}
  {{simplemde.load}}
</div>
</div>
</div>
{% endblock %}
